.dis-course-card {
    display: block !important;
    margin: 15px 0 !important;
}

.dis-course-card .dis-course-card-thumbnail{
    height: 315px !important;
}

.dis-course-card .dis-course-card-thumbnail img {
    object-fit: cover !important;
}

.dis-course-card .dis-course-card-categories ul li {
    margin-bottom: 5px !important;
}

.dis-course-card .dis-course-card-categories ul li a {
    font-size: 11px !important;
    padding: 6px 7px !important;
}

.dis-course-card .dis-course-card-details .dis-course-card-info h3.dis-course-card-title {
	height: 75px !important;
	line-height: 22px !important;
}

.dis-course-card .dis-course-card-details .dis-course-card-meta {
    padding: 10px 20px !important;
}

.dis-course-card
  .dis-course-card-details
  .dis-course-card-meta
  h6.dis-course-meta-students {
      display: flex !important;
      gap: 5px !important;
    padding-right: 10px !important;
}

.dis-course-card
  .dis-course-card-details
  .dis-course-card-meta
  h6.dis-course-meta-reviews {
    display: flex !important;
      gap: 5px !important;
}

.dis-course-card .dis-course-card-details .dis-course-card-meta button {
    text-align: center !important;
    background-color: #00BDA6 !important;
    border: 2px solid #00BDA6 !important;
    border-radius: 5px !important;
    padding: 0 !important;
    margin: 0 0 0 5px !important;
}

.dis-course-card .dis-course-card-details .dis-course-card-meta button bdi {
    color: #222 !important;
}


@media (min-width: 990.99px) and (max-width: 1200px) {
  .dis-course-card
  .dis-course-card-details
  .dis-course-card-meta
  h6.dis-course-meta-reviews {
    margin: 0 25px 0 9px !important;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .dis-course-card
  .dis-course-card-details
  .dis-course-card-meta
  h6.dis-course-meta-reviews {
    margin: 0 15px 0 1px !important;
  }
}

@media screen and (max-width: 599.98px) {
  .dis-course-card
  .dis-course-card-details
  .dis-course-card-meta
  h6.dis-course-meta-reviews {
    margin: 0 5px 0 3px !important;
  }
}

